<ul class="remote-menu">
  <li><a routerLink="/">Home</a></li>
  <li><a routerLink="product">Product</a></li>
  <li><a routerLink="cart">Cart</a></li>
  <li><a routerLink="user">User</a></li>
</ul>
<router-outlet></router-outlet>
